.consultation {
    display: flex;
    background-image: url(./images/background.png);
    height: 590px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.consultation-text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
.consultation-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 6px;
    background-color: rgb(248, 205, 83);
    width: 330px;
    height: 69px;
}
.consultation-button:hover {
    background-color: rgb(243, 209, 115);
}
.about-us {
    display: flex;
    flex-direction: column;
    height: 544px;
    background-color: white;
    
}