.consultation {
    display: flex;
    background-image: url(./images/background.png);
    height: 590px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.consultation-text {
    text-align: center;
    text-transform: capitalize;
}

.consultation-text__first-row {
    font-size: 48px;
    text-transform: capitalize;
}

.consultation-text__second-row {
    text-transform: capitalize;
}

.consultation-button--yellow {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    background-color: rgb(248, 205, 83);
    width: 330px;
    height: 69px;
}

.consultation-button--yellow:hover {
    background-color: rgb(243, 209, 115);
}
