.get-in-touch {
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 42, 42);
    height: 500px;
}
.get-in-touch h2 {
    text-align: center;
    margin-top: 90px;
}
.get-in-touch-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icons {
    display: flex;
    flex-direction: row;
    flex-basis: 300px;
    justify-content: space-evenly;
}
.icons a:hover {color: red;}
.text {
    text-align: center;
    margin-top: 40px;
}
.email-form-style {
    margin:0 auto;
    margin-top: 33px;
    max-width: 680px;
}
.email-form-style input {
    width: 680px;
    height: 30px;; 
    background: rgb(81, 81, 81);
    border: none;
    padding:10px;
    color: rgb(175, 175, 175);
    font: 95% Arial, Helvetica, sans-serif;
}
.get-in-touch-subscribe-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.get-in-touch button {
    background-color: rgb(42, 42, 42);
    align-self: center;
    width: 149px;
    height: 50px;
    border: 1px solid rgb(81, 81, 81);
    border-radius: 5px;
}
.get-in-touch button:hover {
    background-color: rgb(175, 175, 175);
}
