.main-header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-header__contact-info {
    display: none;
}

.main-header__logo {
    display: flex;
    justify-content: center;
    background-color: #f0f2f4;
}

.main-header__logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: 0;
}

nav a:visited {
    color:black;
}

nav a:active {
    color: black;
}

nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.consultation-button--red {
    display: none;
    align-self: center;
    width: 170px;
    background-color: rgb(222, 43, 36);
    height: 36px;
    border-radius: 3px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(222, 43, 36);
}

.consultation-button--red:hover {
    background-color: rgb(189, 19, 19);
    cursor: pointer;
}
 
@media (min-width: 768px) {
    .main-header {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main-header__logo {
        background-color: white;
        margin-left: 5%;
    }

    .main-header__contact-info {
        display: flex;
        order: -1;
        background-color: rgb(240, 242, 244);
        height: 43px;
        width: 100%;
        justify-content: flex-end; 
    }

    .contact-info__wrapper {
        display: flex;
        width: 40%;
        margin-right: 10%;
    }

    .contact-info__item {
        display: flex;
        width: calc(100% / 2);
        justify-content: space-evenly;
    }
    
    .contact-info__item--long {
        width: calc(100% / 1.2);
    }
    
    .contact-info__item-link {
        display: flex;
        justify-content: center;
    }

    .main-header__logo {
        justify-content: flex-start;
    }

    .consultation-button--red {
        display: block;
    }
}

@media (min-width: 1200px) {
    .contact-info__wrapper {
        width: 30%;
    }

    .consultation-button--red {
        display: flex;
        margin: auto;
    }
}
