header {
    display: flex;
    flex-direction: column;
    height: 173px;
}
.contact-info-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 242, 244);
    height: 43px;
    justify-content: flex-end;
}
.phone-number-flex-container {
    display: flex;
    flex-basis: 70%;
    justify-content: flex-end;
}
.e-mail-flex-container {
    display: flex;
    flex-basis: 30%;
}
.phone-number {
    display: flex;
    flex-basis: 110px;
    justify-content: space-around;
    align-items: center;   
}
.e-mail {
    display: flex;
    border-left: 1px solid rgb(226, 226, 226);
    flex-basis: 200px;
    justify-content: space-evenly;
    align-items: center;
}
.navigation-container {
    display: flex;
    align-items: center;
    height: 130px;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: red;
}
nav a:visited {
    color:black;
}
nav a:active {
    color: black;
}
.logo {
    display: flex;
    flex-basis: 400px;
    justify-content: flex-end;
    flex-basis: 30%
}
.business {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    line-height: 0;
}
nav {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}
.navigation {
 display: flex;
 justify-content: space-evenly;
 flex-basis: 500px;
}
.free-consultation-button-container {
    display: flex;
    flex-basis: 20%;
    align-items: center;
}
.free-consultation-button-container button {
    display: flex;
    background-color: rgb(222, 43, 36);
    width: 170px;
    height: 36px;
    border-radius: 3px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid rgb(222, 43, 36);
}
.free-consultation-button-container button:hover {
    background-color: rgb(189, 19, 19);
}