header {
    display: flex;
    flex-direction: column;
    height: 173px;
}
.contact-info-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 242, 244);
    height: 43px;
    justify-content: flex-end;
}

.phone-number-flex-container {
    display: flex;
    flex-basis: 70%;
    justify-content: flex-end;
}
.e-mail-flex-container {
    display: flex;
    flex-basis: 30%;
}
.phone-number {
    display: flex;
    flex-basis: 110px;
    justify-content: space-around;
    align-items: center;   
}
.e-mail {
    display: flex;
    border-left: 1px solid rgb(226, 226, 226);
    flex-basis: 200px;
    justify-content: space-evenly;
    align-items: center;
}
.navigation-container {
    display: flex;
    align-items: center;
    height: 130px;
}

nav a:visited {
    color:black;
}
nav a:active {
    color: black;
}
nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
.logo {
    display: flex;
    flex-basis: 400px;
    justify-content: flex-end;
    flex-basis: 30%
}
.business {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: 0;
}
nav {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}
nav a {
    position: relative;
    text-decoration: none;
}

.navigation {
 display: flex;
 flex-basis: 520px;
 align-items: center;
}

.nav-first-row {
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-second-row {
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: -5%;
}
 
.free-consultation-button-container {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    margin-right: 5%;
}
.free-consultation-button-container button {
    display: flex;
    background-color: rgb(222, 43, 36);
    flex-basis: 180px;
    height: 36px;
    border-radius: 3px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(222, 43, 36);
}
.free-consultation-button-container button:hover {
    background-color: rgb(189, 19, 19);
}
 

 @media all and (max-width: 945px) {
    .navigation {
        max-width: 220px;
     }
     .nav-first-row {
         justify-content: flex-start;
     }
     .nav-second-row {
        justify-content: flex-start;
        
    }
}
