body {
    margin: 0;
    min-width: 730px;
}
.main-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;  
}
.about-us-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.small-rectangle {
    width: 47px;
    height: 4px;
    background-color: rgb(66, 66, 66);
    align-self: center;
}
.about-us-images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
}
.facebook-marketing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.landing-pages-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ads-management {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}


  