.our-approach {
    display: flex;
    flex-direction: column;
    height: 1408px;
    background-color: rgb(243, 243, 243);
    align-items: center;
}

.our-approach-header {
    color: rgb(66, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
}

.our-approach-sections {
    display: flex;
    flex-direction: row;
    height: 237px;
    margin-top: 45px;
}

.our-approach-step-box {
    display: flex;
    border: solid 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 3px;
    background-color: rgb(222, 43, 36);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 105px;
    height: 105px;
    margin-top: 65px;
    margin-left: -55px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-align: center;
}

.our-approach-step-text {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: -54px;
    padding-left: 100px;
    align-items: center;
    min-width: 175px;
}

.reverse-section {
    flex-direction: row-reverse;
    margin-top: 40px;
}

.our-approach-step-box-reverse {
    display: flex;
    border: solid 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 3px;
    background-color: rgb(222, 43, 36);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 105px;
    height: 105px;
    margin-top: 65px;
    margin-right: -55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.our-approach-step-text-reverse {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(255, 255, 255);
    margin-right: -54px;
    padding-right: 100px;
    align-items: center;
    text-align: right;
    min-width: 175px;
}

.third-step {
    margin-top: 40px;
}
