.our-work {
    display: flex;  
    background-color: rgb(222, 43, 36);
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.our-work-head {
    color: rgb(255, 255, 255);
    margin-top: 90px;
    text-align: center;
    flex-basis: 100%;
    
}
.white-rectangle {
    display: inline-block;
    width: 47px;
    height: 4px;
    background-color:white;
    align-self: center;
}
.our-work-gallery {
    display: flex;
    margin-top: 70px;
    max-width: 1005px;
    flex-wrap: wrap;
    margin-bottom: 125px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(243, 94, 89);
    width: 250px;
    height: 250px;
}
.fa-paper-plane:before {
    line-height: 3;
    opacity: 0.4;
}
.our-work-images {
    display: flex;
    width: 250px;
    height: 250px;
}
.our-work-images > img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .our-work-gallery {
        max-width: 730px;
        justify-content: center;
    }
    #our-work-gallery__first-rect {
        order: 1;
    }
    #our-work-gallery__second-rect {
        order: 2;
    }
    #our-work-gallery__third-rect {
        order: 4;
    }
    #our-work-gallery__fourth-rect {
        order: 3;
    }
    
    #our-work-gallery__fifth-rect {
        order: 6;
    }
    #our-work-gallery__sixth-rect {
        order: 5;
    }
    #our-work-gallery__seventh-rect {
        order: 7;
    }
    #our-work-gallery__eighth-rect {
        order: 8;
    }

