body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 
.white-font {
    color: white;
}

.bold-font {
    font-weight: bold;
}
nav a:hover {
    color: red;
}

.anton-font {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.consultation-text-sec-row {
    font-size: 30px;
    font-family: "HelveticaNeue-Light", Arial, "Lucida Grande", sans-serif;
}
.consultation-text-first-row {
    font-size: 48px;
}